{% layout 'theme' %}
{% if customer %}
  <h1>{{ customer.first_name | default: customer.email }}</h1>

  <p>{{ 'customer.account.greeting' | t: name: customer.first_name }}</p>

  <ul>
    <li><a href="{{ routes.account_addresses_url }}">{{ 'customer.account.addresses' | t }}</a></li>
    <li><a href="{{ routes.orders_url }}">{{ 'customer.account.orders' | t }}</a></li>
  </ul>

  {% form 'customer_logout' %}
    <button type="submit">{{ 'customer.account.logout' | t }}</button>
  {% endform %}
{% else %}
  <p>{{ 'customer.account.not_logged_in' | t }}</p>
  <a href="{{ routes.login_url }}">{{ 'customer.login.title' | t }}</a>
{% endif %}